<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.speak.jlewis.wts</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Jason Edward Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>Speak</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>TextFile</key>
			<string>wts</string>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>FontFile</key>
				<string>gilsanbo36</string>
				<key>PathOffset</key>
				<integer>2</integer>
				<key>SwimCloudSize</key>
				<integer>20</integer>
				<key>WordSpacing</key>
				<integer>17</integer>
				<key>FollowVelocity</key>
				<integer>500</integer>
				<key>SwimVelocity</key>
				<integer>20</integer>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>FontFile</key>
				<string>gilsanbo36</string>
				<key>PathOffset</key>
				<integer>2</integer>
				<key>SwimCloudSize</key>
				<integer>20</integer>
				<key>WordSpacing</key>
				<integer>17</integer>
				<key>FollowVelocity</key>
				<integer>500</integer>
				<key>SwimVelocity</key>
				<integer>20</integer>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>FontFile</key>
				<string>gilsanbo18</string>
				<key>PathOffset</key>
				<integer>3</integer>
				<key>SwimCloudSize</key>
				<integer>10</integer>
				<key>WordSpacing</key>
				<integer>8</integer>
				<key>FollowVelocity</key>
				<integer>250</integer>
				<key>SwimVelocity</key>
				<integer>10</integer>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>FontFile</key>
				<string>gilsanbo18</string>
				<key>PathOffset</key>
				<integer>3</integer>
				<key>SwimCloudSize</key>
				<integer>10</integer>
				<key>WordSpacing</key>
				<integer>8</integer>
				<key>FollowVelocity</key>
				<integer>250</integer>
				<key>SwimVelocity</key>
				<integer>10</integer>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>FontFile</key>
				<string>gilsanbo18</string>
				<key>PathOffset</key>
				<integer>3</integer>
				<key>SwimCloudSize</key>
				<integer>10</integer>
				<key>WordSpacing</key>
				<integer>8</integer>
				<key>FollowVelocity</key>
				<integer>250</integer>
				<key>SwimVelocity</key>
				<integer>10</integer>
			</dict>
			<key>BgColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PathColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.4</real>
			</array>
			<key>TextColorBg</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.15</real>
			</array>
			<key>TextColorBgHighlight</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.3</real>
			</array>
			<key>TextColorFg</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>MaxPathLength</key>
			<integer>128</integer>
			<key>PathSpacing</key>
			<integer>15</integer>
			<key>PathWidth</key>
			<integer>1</integer>
			<key>RotationBackVelocity</key>
			<integer>45</integer>
			<key>RotationToVelocity</key>
			<integer>180</integer>
		</dict>
	</array>
</dict>
</plist>
